# Created by .ignore web.support plugin (hsz.mobi)
### Example user template template
### Example user template

# BrowserStack Files
browserstack.err
performance-report.csv


# IntelliJ project files
/.idea
.idea
*.iml

# Folders
/out
/target
/logs
